<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404</title>
  <style>
    body {
      font-family: sans-serif;
    }
  </style>
</head>
<body>
  <div style="margin: 0 auto; display: flex;flex-direction: column;align-items: center;">
    <h1>
      Ошибка 404
    </h1>
    <img src="/404.jpeg" alt="Мужик на стуле">
    <h2>
      Такой страницы не существует!
    </h2>
    <a href="/">Вернуться на главную страницу! </a>
  </div>
</body>
</html>
